@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-text-primary;
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}